body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-panel {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    position: absolute;
    left: 7vw;
}

.player-panel img {
    width: 60px;
    height: 60px;
    margin-left: 0.5rem;
}

.one-player {
    display: flex;
    align-items: center;
    margin-right: 4rem;
    margin-bottom: 1rem;
}

.player-inactive {
    opacity: 0.5;
}


/* Table Design from css-tricks.com */

.table-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    border-collapse: collapse;
}

tr {
    width: 400px;
}

td {
    width: 130px;
    height: 130px;
    border: 5px solid black;
    position: relative;
    /* .shape hat position absolute und weil wir die bilder an den Tabllen anrichten wollen, braucht das Element woran es ausgerichtet werden soll position relative */
    cursor: pointer;
}

td:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

tr:first-child td {
    border-top: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:last-child {
    border-right: 0;
}


/* Images */

.td-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shape {
    position: absolute;
    width: 80px;
    height: 80px;
}

.d-none {
    display: none;
}

.horizontal-line {
    position: absolute;
    height: 5px;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scaleX(0.0);
    transition: transform 225ms ease-in-out;
}

.make-vertikal {
    transform: rotate(90deg) scaleX(0.0);
}